*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

header{
    background-image: url(img/pattern.png);
    height: 170px;
    background-color: #4EA0FF;
    position: relative;
}

.logo{
    position: absolute;
    object-fit: contain;
    width: auto;
    height: 50%;
    transform: translate(20%, 100%);
}

.big-container{
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: red; */
}

h1{
    font-size: 1.5 rem;
    width: 70%;
}

p{
    font-size: 1 rem;
 

}

a{
    font-size: 1 rem;
    color: #35B7E9
}

.data-documento{
    font-size: 0.7rem;
}

.fonti-foto{
    font-size: 0.6rem;
}

ul{
    list-style-position: inside;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: #21A9E4;
}

.riga-colorata{
    background-color: #B1E5F2
}

.img-container{
    position: relative;
}


.testo-contenitore{
    position: absolute;
    top: 10px;
    left: 10px;
}

h2{
    color: white;
}
